/*****----- Theme -----*****/
@theme "global-theme.rasi"

/*****----- Configuration -----*****/
configuration {
    font: "JetBrainsMono Nerd Font 24";
}

/*****----- Styles -----*****/
* {
    padding: 8px;
}

window {
    width: 30%;
}

mainbox {
    children: ["inputbar"];
}

inputbar {
    spacing:16px;
}
