/*****----- Theme -----*****/
@theme "global-theme.rasi"

/*****----- Configuration -----*****/
configuration {
}

/*****----- Styles -----*****/
listview {
    flow: horizontal;
    columns: 4;
    lines: 3;
}

element {
    orientation: vertical;
}

element-icon {
    size: 150px;
}

element-text {
    horizontal-align: 0.5;
}
