background = {{bg0}}
foreground = {{fg1}}
cursor-color = {{primary}}
cursor-text = {{bg0}}
selection-background = {{bg2}}
selection-foreground = {{fg2}}

# Standard ANSI Terminal Colors
palette = 0={{bg0}}
palette = 1={{red}}
palette = 2={{green}}
palette = 3={{yellow}}
palette = 4={{blue}}
palette = 5={{purple}}
palette = 6={{aqua}}
palette = 7={{fg2}}

# Bright ANSI Terminal Colors
palette = 8={{fg4}}
palette = 9={{lightRed}}
palette = 10={{lightGreen}}
palette = 11={{lightYellow}}
palette = 12={{lightBlue}}
palette = 13={{lightPurple}}
palette = 14={{lightAqua}}
palette = 15={{fg0}}
