/* background colors darkest to lightest */
@define-color bg0 {{bg0}};
@define-color bg1 {{bg1}};
@define-color bg2 {{bg2}};
@define-color bg3 {{bg3}};
@define-color bg4 {{bg4}};
/* foreground colors lightest to darkest */
@define-color fg0 {{fg0}};
@define-color fg1 {{fg1}};
@define-color fg2 {{fg2}};
@define-color fg3 {{fg3}};
@define-color fg4 {{fg4}};
/* Primary colors */
@define-color primary        {{primary}};
@define-color darkPrimary    {{darkPrimary}};
@define-color lightPrimary   {{lightPrimary}};
/* Secondary colors */
@define-color secondary      {{secondary}};
@define-color darkSecondary  {{darkSecondary}};
@define-color lightSecondary {{lightSecondary}};
/* Tertiary colors */
@define-color tertiary       {{tertiary}};
@define-color darkTertiary   {{darkTertiary}};
@define-color lightTertiary  {{lightTertiary}};
/* Accent colors */
@define-color red            {{red}};
@define-color orange         {{orange}};
@define-color yellow         {{yellow}};
@define-color green          {{green}};
@define-color aqua           {{aqua}};
@define-color blue           {{blue}};
@define-color purple         {{purple}};

@define-color darkRed        {{darkRed}};
@define-color darkOrange     {{darkOrange}};
@define-color darkYellow     {{darkYellow}};
@define-color darkGreen      {{darkGreen}};
@define-color darkAqua       {{darkAqua}};
@define-color darkBlue       {{darkBlue}};
@define-color darkPurple     {{darkPurple}};

@define-color lightRed       {{lightRed}};
@define-color lightOrange    {{lightOrange}};
@define-color lightYellow    {{lightYellow}};
@define-color lightGreen     {{lightGreen}};
@define-color lightAqua      {{lightAqua}};
@define-color lightBlue      {{lightBlue}};
@define-color lightPurple    {{lightPurple}};

@define-color accent_color           {{primary}};
@define-color accent_fg_color        {{bg0}};
@define-color accent_bg_color        {{primary}};
@define-color window_bg_color        {{bg1}};
@define-color window_fg_color        {{fg0}};
@define-color headerbar_bg_color     {{bg1}};
@define-color headerbar_fg_color     {{fg0}};
@define-color popover_bg_color       {{bg1}};
@define-color popover_fg_color       {{fg0}};
@define-color view_bg_color          {{bg0}};
@define-color view_fg_color          {{fg0}};
@define-color card_bg_color          {{bg0}};
@define-color card_fg_color          {{fg0}};
@define-color sidebar_bg_color       @window_bg_color;
@define-color sidebar_fg_color       @window_fg_color;
@define-color sidebar_border_color   @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
