@define-color accent_color           {{primary}};;
@define-color accent_fg_color        {{bg0}};
@define-color accent_bg_color        {{darkPrimary}};
@define-color window_bg_color        {{bg0}};
@define-color window_fg_color        {{fg0}};
@define-color headerbar_bg_color     {{bg1}};
@define-color headerbar_fg_color     {{fg0}};
@define-color popover_bg_color       {{bg2}};
@define-color popover_fg_color       {{fg0}};
@define-color view_bg_color          {{bg0}};
@define-color view_fg_color          {{fg0}};
@define-color card_bg_color          {{bg1}};
@define-color card_fg_color          {{fg0}};
@define-color sidebar_bg_color       @window_bg_color;
@define-color sidebar_fg_color       @window_fg_color;
@define-color sidebar_border_color   @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
