/* background colors darkest to lightest */
@define-color bg0        {{bg0}};
@define-color bg1        {{bg1}};
@define-color bg2        {{bg2}};
@define-color bg3        {{bg3}};
@define-color bg4        {{bg4}};

/* foreground colors lightest to darkest */
@define-color fg0        {{fg0}};
@define-color fg1        {{fg1}};
@define-color fg2        {{fg2}};
@define-color fg3        {{fg3}};
@define-color fg4        {{fg4}};

/* primary colors */
@define-color primary0   {{primary0}};
@define-color primary1   {{primary1}};
@define-color primary2   {{primary2}};
@define-color primary3   {{primary3}};
@define-color primary4   {{primary4}};

/* secondary colors */
@define-color secondary0 {{secondary0}};
@define-color secondary1 {{secondary1}};
@define-color secondary2 {{secondary2}};
@define-color secondary3 {{secondary3}};
@define-color secondary4 {{secondary4}};

/* tertiary colors */
@define-color tertiary0  {{tertiary0}};
@define-color tertiary1  {{tertiary1}};
@define-color tertiary2  {{tertiary2}};
@define-color tertiary3  {{tertiary3}};
@define-color tertiary4  {{tertiary4}};

/* accent colors */
/* red */
@define-color red0       {{red0}};
@define-color red1       {{red1}};
@define-color red2       {{red2}};
@define-color red3       {{red3}};
@define-color red4       {{red4}};

/* orange */
@define-color orange0    {{orange0}};
@define-color orange1    {{orange1}};
@define-color orange2    {{orange2}};
@define-color orange3    {{orange3}};
@define-color orange4    {{orange4}};

/* yellow */
@define-color yellow0    {{yellow0}};
@define-color yellow1    {{yellow1}};
@define-color yellow2    {{yellow2}};
@define-color yellow3    {{yellow3}};
@define-color yellow4    {{yellow4}};

/* green */
@define-color green0     {{green0}};
@define-color green1     {{green1}};
@define-color green2     {{green2}};
@define-color green3     {{green3}};
@define-color green4     {{green4}};

/* aqua */
@define-color aqua0      {{aqua0}};
@define-color aqua1      {{aqua1}};
@define-color aqua2      {{aqua2}};
@define-color aqua3      {{aqua3}};
@define-color aqua4      {{aqua4}};

/* blue */
@define-color blue0      {{blue0}};
@define-color blue1      {{blue1}};
@define-color blue2      {{blue2}};
@define-color blue3      {{blue3}};
@define-color blue4      {{blue4}};

/* purple */
@define-color purple0    {{purple0}};
@define-color purple1    {{purple1}};
@define-color purple2    {{purple2}};
@define-color purple3    {{purple3}};
@define-color purple4    {{purple4}};

/* gtk colors */
@define-color accent_color           {{primary2}};
@define-color accent_fg_color        {{bg0}};
@define-color accent_bg_color        {{primary2}};
@define-color window_bg_color        {{bg1}};
@define-color window_fg_color        {{fg0}};
@define-color headerbar_bg_color     {{bg1}};
@define-color headerbar_fg_color     {{fg0}};
@define-color popover_bg_color       {{bg1}};
@define-color popover_fg_color       {{fg0}};
@define-color view_bg_color          {{bg0}};
@define-color view_fg_color          {{fg0}};
@define-color card_bg_color          {{bg0}};
@define-color card_fg_color          {{fg0}};
@define-color sidebar_bg_color       @window_bg_color;
@define-color sidebar_fg_color       @window_fg_color;
@define-color sidebar_border_color   @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
