$image =      "{{  image  }}";

; foreground colors lightest to darkest
$fg0 =        "{{ fg0 }}";
$fg1 =        "{{ fg1 }}";
$fg2 =        "{{ fg2 }}";
$fg3 =        "{{ fg3 }}";
$fg4 =        "{{ fg4 }}";

; primary colors
$primary0 =   "{{ primary0 }}";
$primary1 =   "{{ primary1 }}";
$primary2 =   "{{ primary2 }}";
$primary3 =   "{{ primary3 }}";
$primary4 =   "{{ primary4 }}";

; secondary colors
$secondary0 = "{{ secondary0 }}";
$secondary1 = "{{ secondary1 }}";
$secondary2 = "{{ secondary2 }}";
$secondary3 = "{{ secondary3 }}";
$secondary4 = "{{ secondary4 }}";

; tertiary colors
$tertiary0 =  "{{ tertiary0 }}";
$tertiary1 =  "{{ tertiary1 }}";
$tertiary2 =  "{{ tertiary2 }}";
$tertiary3 =  "{{ tertiary3 }}";
$tertiary4 =  "{{ tertiary4 }}";

; accent colors
; red
$red0 =       "{{ red0 }}";
$red1 =       "{{ red1 }}";
$red2 =       "{{ red2 }}";
$red3 =       "{{ red3 }}";
$red4 =       "{{ red4 }}";

; orange
$orange0 =    "{{ orange0 }}";
$orange1 =    "{{ orange1 }}";
$orange2 =    "{{ orange2 }}";
$orange3 =    "{{ orange3 }}";
$orange4 =    "{{ orange4 }}";

; yellow
$yellow0 =    "{{ yellow0 }}";
$yellow1 =    "{{ yellow1 }}";
$yellow2 =    "{{ yellow2 }}";
$yellow3 =    "{{ yellow3 }}";
$yellow4 =    "{{ yellow4 }}";

; green
$green0 =     "{{ green0 }}";
$green1 =     "{{ green1 }}";
$green2 =     "{{ green2 }}";
$green3 =     "{{ green3 }}";
$green4 =     "{{ green4 }}";

; aqua
$aqua0 =      "{{ aqua0 }}";
$aqua1 =      "{{ aqua1 }}";
$aqua2 =      "{{ aqua2 }}";
$aqua3 =      "{{ aqua3 }}";
$aqua4 =      "{{ aqua4 }}";

; blue
$blue0 =      "{{ blue0 }}";
$blue1 =      "{{ blue1 }}";
$blue2 =      "{{ blue2 }}";
$blue3 =      "{{ blue3 }}";
$blue4 =      "{{ blue4 }}";

; purple
$purple0 =    "{{ purple0 }}";
$purple1 =    "{{ purple1 }}";
$purple2 =    "{{ purple2 }}";
$purple3 =    "{{ purple3 }}";
$purple4 =    "{{ purple4 }}";
