$image = "{{image}}";
; background colors darkest to lightest
$bg0 = "{{bg0}}";
$bg1 = "{{bg1}}";
$bg2 = "{{bg2}}";
$bg3 = "{{bg3}}";
$bg4 = "{{bg4}}";
; foreground colors lightest to darkest
$fg0 = "{{fg0}}";
$fg1 = "{{fg1}}";
$fg2 = "{{fg2}}";
$fg3 = "{{fg3}}";
$fg4 = "{{fg4}}";
; Primary colors
$primary =        "{{primary}}";
$darkPrimary =    "{{darkPrimary}}";
$lightPrimary =   "{{lightPrimary}}";
; Secondary colors
$secondary =      "{{secondary}}";
$darkSecondary =  "{{darkSecondary}}";
$lightSecondary = "{{lightSecondary}}";
; Tertiary colors
$tertiary =       "{{tertiary}}";
$darkTertiary =   "{{darkTertiary}}";
$lightTertiary =  "{{lightTertiary}}";
; Accent colors
$red =            "{{red}}";
$orange =         "{{orange}}";
$yellow =         "{{yellow}}";
$green =          "{{green}}";
$aqua =           "{{aqua}}";
$blue =           "{{blue}}";
$purple =         "{{purple}}";

$darkRed =        "{{darkRed}}";
$darkOrange =     "{{darkOrange}}";
$darkYellow =     "{{darkYellow}}";
$darkGreen =      "{{darkGreen}}";
$darkAqua =       "{{darkAqua}}";
$darkBlue =       "{{darkBlue}}";
$darkPurple =     "{{darkPurple}}";

$lightRed =       "{{lightRed}}";
$lightOrange =    "{{lightOrange}}";
$lightYellow =    "{{lightYellow}}";
$lightGreen =     "{{lightGreen}}";
$lightAqua =      "{{lightAqua}}";
$lightBlue =      "{{lightBlue}}";
$lightPurple =    "{{lightPurple}}";
