local image = "{{image}}"

hl.config({
  general = {
    col = {
      active_border = "{{primary}}",
      inactive_border = "{{bg0}}",
    },
  },
  group = {
    col = {
      border_active = "{{primary}}",
      border_inactive = "{{bg0}}",
      border_locked_active = "{{secondary}}",
    },
    groupbar = {
      col = {
        active = "{{primary}}",
        inactive = "{{bg0}}",
      },
      text_color = "{{bg0}}",
    },
  },
  misc = {
    background_color = "{{bg0}}",
  }
})
