hl.config({
  general = {
    col = {
      active_border = "{{ primary2 }}80",
      inactive_border = "{{ bg0 }}",
    },
  },
  group = {
    col = {
      border_active = "{{ primary2 }}80",
      border_inactive = "{{ bg0 }}",
      border_locked_active = "{{ secondary2 }}80",
    },
    groupbar = {
      col = {
        active = "{{ primary2 }}80",
        inactive = "{{ bg0 }}",
      },
      text_color = "{{ bg0 }}",
    },
  },
  misc = {
    background_color = "{{ bg0 }}",
  }
})
