import QtQuick

QtObject {
  // background colors darkest to lightest
  readonly property color bg0:        "{{bg0}}";
  readonly property color bg1:        "{{bg1}}";
  readonly property color bg2:        "{{bg2}}";
  readonly property color bg3:        "{{bg3}}";
  readonly property color bg4:        "{{bg4}}";

  // foreground colors lightest to darkest
  readonly property color fg0:        "{{fg0}}";
  readonly property color fg1:        "{{fg1}}";
  readonly property color fg2:        "{{fg2}}";
  readonly property color fg3:        "{{fg3}}";
  readonly property color fg4:        "{{fg4}}";

  // primary colors
  readonly property color primary0:   "{{primary0}}";
  readonly property color primary1:   "{{primary1}}";
  readonly property color primary2:   "{{primary2}}";
  readonly property color primary3:   "{{primary3}}";
  readonly property color primary4:   "{{primary4}}";

  // secondary colors
  readonly property color secondary0: "{{secondary0}}";
  readonly property color secondary1: "{{secondary1}}";
  readonly property color secondary2: "{{secondary2}}";
  readonly property color secondary3: "{{secondary3}}";
  readonly property color secondary4: "{{secondary4}}";

  // tertiary colors
  readonly property color tertiary0:  "{{tertiary0}}";
  readonly property color tertiary1:  "{{tertiary1}}";
  readonly property color tertiary2:  "{{tertiary2}}";
  readonly property color tertiary3:  "{{tertiary3}}";
  readonly property color tertiary4:  "{{tertiary4}}";

  // accent colors
  // red
  readonly property color red0:       "{{red0}}";
  readonly property color red1:       "{{red1}}";
  readonly property color red2:       "{{red2}}";
  readonly property color red3:       "{{red3}}";
  readonly property color red4:       "{{red4}}";

  // orange
  readonly property color orange0:    "{{orange0}}";
  readonly property color orange1:    "{{orange1}}";
  readonly property color orange2:    "{{orange2}}";
  readonly property color orange3:    "{{orange3}}";
  readonly property color orange4:    "{{orange4}}";

  // yellow
  readonly property color yellow0:    "{{yellow0}}";
  readonly property color yellow1:    "{{yellow1}}";
  readonly property color yellow2:    "{{yellow2}}";
  readonly property color yellow3:    "{{yellow3}}";
  readonly property color yellow4:    "{{yellow4}}";

  // green
  readonly property color green0:     "{{green0}}";
  readonly property color green1:     "{{green1}}";
  readonly property color green2:     "{{green2}}";
  readonly property color green3:     "{{green3}}";
  readonly property color green4:     "{{green4}}";

  // aqua
  readonly property color aqua0:      "{{aqua0}}";
  readonly property color aqua1:      "{{aqua1}}";
  readonly property color aqua2:      "{{aqua2}}";
  readonly property color aqua3:      "{{aqua3}}";
  readonly property color aqua4:      "{{aqua4}}";

  // blue
  readonly property color blue0:      "{{blue0}}";
  readonly property color blue1:      "{{blue1}}";
  readonly property color blue2:      "{{blue2}}";
  readonly property color blue3:      "{{blue3}}";
  readonly property color blue4:      "{{blue4}}";

  // purple
  readonly property color purple0:    "{{purple0}}";
  readonly property color purple1:    "{{purple1}}";
  readonly property color purple2:    "{{purple2}}";
  readonly property color purple3:    "{{purple3}}";
  readonly property color purple4:    "{{purple4}}";
}
