import QtQuick

QtObject {
	// background colors darkest to lightest
  readonly property color bg0: "{{bg0}}";
  readonly property color bg1: "{{bg1}}";
  readonly property color bg2: "{{bg2}}";
  readonly property color bg3: "{{bg3}}";
  readonly property color bg4: "{{bg4}}";
  // foreground colors lightest to darkest
  readonly property color fg0: "{{fg0}}";
  readonly property color fg1: "{{fg1}}";
  readonly property color fg2: "{{fg2}}";
  readonly property color fg3: "{{fg3}}";
  readonly property color fg4: "{{fg4}}";
  // Primary colors
  readonly property color primary:        "{{primary}}";
  readonly property color darkPrimary:    "{{darkPrimary}}";
  readonly property color lightPrimary:   "{{lightPrimary}}";
  // Secondary colors
  readonly property color secondary:      "{{secondary}}";
  readonly property color darkSecondary:  "{{darkSecondary}}";
  readonly property color lightSecondary: "{{lightSecondary}}";
  // Tertiary colors
  readonly property color tertiary:       "{{tertiary}}";
  readonly property color darkTertiary:   "{{darkTertiary}}";
  readonly property color lightTertiary:  "{{lightTertiary}}";
  // Accent colors
  readonly property color red:            "{{red}}";
  readonly property color orange:         "{{orange}}";
  readonly property color yellow:         "{{yellow}}";
  readonly property color green:          "{{green}}";
  readonly property color aqua:           "{{aqua}}";
  readonly property color blue:           "{{blue}}";
  readonly property color purple:         "{{purple}}";

  readonly property color darkRed:        "{{darkRed}}";
  readonly property color darkOrange:     "{{darkOrange}}";
  readonly property color darkYellow:     "{{darkYellow}}";
  readonly property color darkGreen:      "{{darkGreen}}";
  readonly property color darkAqua:       "{{darkAqua}}";
  readonly property color darkBlue:       "{{darkBlue}}";
  readonly property color darkPurple:     "{{darkPurple}}";

  readonly property color lightRed:       "{{lightRed}}";
  readonly property color lightOrange:    "{{lightOrange}}";
  readonly property color lightYellow:    "{{lightYellow}}";
  readonly property color lightGreen:     "{{lightGreen}}";
  readonly property color lightAqua:      "{{lightAqua}}";
  readonly property color lightBlue:      "{{lightBlue}}";
  readonly property color lightPurple:    "{{lightPurple}}";
}
