@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

:root {
	--font: 'figtree';
	--corner-text: 'Midnight';
	--online-indicator: {{bg4}};
	--dnd-indicator: {{red2}};
	--idle-indicator: {{tertiary0}};
	--streaming-indicator: {{bg0}};

	--accent-1: {{tertiary2}};
	--accent-2: {{primar2}};
	--accent-3: {{primar2}};
	--accent-4: {{bg2}};
	--accent-5: {{primary0}};
	--accent-new: {{bg4}};
	--mention:  {{bg1}};
	--mention-hover: {{bg2}};

	--text-0: {{bg1}};
	--text-1: {{fg0}};
	--text-2: {{fg0}};
	--text-3: {{fg1}};
	--text-4: {{fg1}};
	--text-5: {{fg2}};

	--bg-1: {{fg4}};
	--bg-2: {{bg4}};
	--bg-3: {{bg2}};
	--bg-4: {{bg1}};
	--hover: {{bg2}};
	--active: {{bg2}};
	--message-hover: {{bg2}};

	--spacing: 12px;

	--list-item-transition: 0.2s ease;
	--unread-bar-transition: 0.2s ease;
	--moon-spin-transition: 0.4s ease;
	--icon-spin-transition: 1s ease;

	--roundness-xl: 22px;
	--roundness-l: 20px;
	--roundness-m: 16px;
	--roundness-s: 12px;
	--roundness-xs: 10px;
	--roundness-xxs: 8px;

	--discord-icon: none;
	--moon-icon: block;
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg');
	--moon-icon-size: auto;

	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2);
}

.selected_f5eb4b,
.selected_f6f816 .link_d8bfb3 {
 color: var(--text-0) !important;
 background: var(--accent-3) !important;
}

.selected_f6f816 .link_d8bfb3 * {
 color: var(--text-0) !important;
 fill: var(--text-0) !important;
}
