background = {{ bg0 }}
foreground = {{ fg1 }}
cursor-color = {{ primary2 }}
cursor-text = {{ bg0 }}
selection-background = {{ bg2 }}
selection-foreground = {{ fg2 }}

# Standard ANSI Terminal Colors
palette = 0  = {{ bg0 }}
palette = 1  = {{ red2 }}
palette = 2  = {{ green2 }}
palette = 3  = {{ yellow2 }}
palette = 4  = {{ blue2 }}
palette = 5  = {{ purple2 }}
palette = 6  = {{ aqua2 }}
palette = 7  = {{ fg2 }}

# Bright ANSI Terminal Colors
palette = 8  = {{ fg4 }}
palette = 9  = {{ red4 }}
palette = 10 = {{ green4 }}
palette = 11 = {{ yellow4 }}
palette = 12 = {{ blue4 }}
palette = 13 = {{ purple4 }}
palette = 14 = {{ aqua4 }}
palette = 15 = {{ fg0 }}
