{
  "$schema": "https://zed.dev/schema/themes/v0.2.0.json",
  "author": "custom",
  "name": "custom",
  "themes": [
    {
      "appearance": "dark",
      "name": "custom",
      "style": {
        "accents": ["{{ primary2 }}", "{{ secondary2 }}", "{{ tertiary2 }}"],
        "background": "{{ bg0 }}",
        "background.appearance": "opaque",
        "border": "{{ bg2 }}",
        "border.disabled": "{{ bg2 }}80",
        "border.focused": "{{ bg3 }}",
        "border.selected": "{{ bg3 }}",
        "border.transparent": "{{ bg2 }}40",
        "border.variant": "{{ bg2 }}",
        "conflict": "{{ purple2 }}",
        "conflict.background": "{{ bg2 }}80",
        "conflict.border": "{{ bg3 }}",
        "created": "{{ green2 }}",
        "created.background": "{{ bg2 }}80",
        "created.border": "{{ bg3 }}",
        "deleted": "{{ red2 }}",
        "deleted.background": "{{ bg2 }}80",
        "deleted.border": "{{ bg3 }}",
        "drop_target.background": "{{ bg2 }}80",
        "editor.active_line.background": "{{ bg2 }}80",
        "editor.active_line_number": "{{ primary2 }}",
        "editor.active_wrap_guide": "{{ bg4 }}80",
        "editor.background": "{{ bg0 }}",
        "editor.document_highlight.bracket_background": "{{ bg3 }}80",
        "editor.document_highlight.read_background": "{{ bg3 }}80",
        "editor.document_highlight.write_background": "{{ bg3 }}80",
        "editor.foreground": "{{ fg0 }}",
        "editor.gutter.background": "{{ bg0 }}",
        "editor.highlighted_line.background": "{{ bg2 }}80",
        "editor.indent_guide": "{{ bg2 }}80",
        "editor.indent_guide_active": "{{ bg4 }}80",
        "editor.invisible": "{{ bg2 }}80",
        "editor.line_number": "{{ fg4 }}80",
        "editor.subheader.background": "{{ bg0 }}",
        "editor.wrap_guide": "{{ bg2 }}80",
        "element.active": "{{ bg4 }}",
        "element.background": "{{ bg2 }}",
        "element.disabled": "{{ bg2 }}80",
        "element.hover": "{{ bg3 }}80",
        "element.selected": "{{ bg3 }}",
        "elevated_surface.background": "{{ bg1 }}",
        "error": "{{ red2 }}",
        "error.background": "{{ bg2 }}80",
        "error.border": "{{ bg3 }}",
        "ghost_element.active": "{{ bg3 }}",
        "ghost_element.background": null,
        "ghost_element.disabled": "{{ bg2 }}40",
        "ghost_element.hover": "{{ bg2 }}80",
        "ghost_element.selected": "{{ bg2 }}",
        "hidden": "{{ fg2 }}80",
        "hidden.background": "{{ bg2 }}40",
        "hidden.border": "{{ bg3 }}80",
        "hint": "{{ aqua2 }}",
        "hint.background": "{{ bg2 }}80",
        "hint.border": "{{ bg3 }}",
        "icon": "{{ fg0 }}",
        "icon.accent": "{{ primary2 }}",
        "icon.disabled": "{{ fg3 }}",
        "icon.muted": "{{ fg4 }}",
        "icon.placeholder": "{{ fg4 }}80",
        "ignored": "{{ fg2 }}80",
        "ignored.background": "{{ bg2 }}40",
        "ignored.border": "{{ bg3 }}80",
        "info": "{{ blue2 }}",
        "info.background": "{{ bg2 }}80",
        "info.border": "{{ bg3 }}",
        "link_text.hover": "{{ primary2 }}",
        "modified": "{{ yellow2 }}",
        "modified.background": "{{ bg2 }}80",
        "modified.border": "{{ bg3 }}",
        "pane.focused_border": "{{ primary2 }}80",
        "pane_group.border": "{{ bg2 }}",
        "panel.background": "{{ bg0 }}",
        "panel.focused_border": "{{ primary2 }}80",
        "panel.indent_guide": "{{ bg2 }}80",
        "panel.indent_guide_active": "{{ bg4 }}80",
        "panel.indent_guide_hover": "{{ bg3 }}80",
        "players": [
          {
            "background": "{{ bg2 }}80",
            "cursor": "{{ primary2 }}",
            "selection": "{{ primary2 }}40"
          },
          {
            "background": "{{ bg2 }}80",
            "cursor": "{{ secondary2 }}",
            "selection": "{{ secondary2 }}40"
          }
        ],
        "predictive": "{{ fg2 }}80",
        "predictive.background": "{{ bg2 }}80",
        "predictive.border": "{{ bg3 }}",
        "renamed": "{{ aqua2 }}",
        "renamed.background": "{{ bg2 }}80",
        "renamed.border": "{{ bg3 }}",
        "scrollbar.thumb.background": "{{ primary2 }}20",
        "scrollbar.thumb.border": null,
        "scrollbar.thumb.hover_background": "{{ primary2 }}40",
        "scrollbar.track.background": "{{ bg0 }}",
        "scrollbar.track.border": "{{ bg0 }}",
        "search.match_background": "{{ primary2 }}80",
        "status_bar.background": "{{ bg0 }}",
        "success": "{{ green2 }}",
        "success.background": "{{ bg2 }}80",
        "success.border": "{{ bg3 }}",
        "surface.background": "{{ bg0 }}",
        "syntax": {
          "attribute": {
            "color": "{{ red2 }}",
            "font_style": null,
            "font_weight": null
          },
          "boolean": {
            "color": "{{ orange2 }}",
            "font_style": null,
            "font_weight": null
          },
          "comment": {
            "color": "{{ fg4 }}",
            "font_style": "italic",
            "font_weight": null
          },
          "comment.doc": {
            "color": "{{ fg4 }}",
            "font_style": "italic",
            "font_weight": null
          },
          "constant": {
            "color": "{{ red2 }}",
            "font_style": null,
            "font_weight": null
          },
          "constructor": {
            "color": "{{ blue2 }}",
            "font_style": null,
            "font_weight": null
          },
          "embedded": {
            "color": "{{ purple2 }}",
            "font_style": null,
            "font_weight": null
          },
          "emphasis": {
            "color": "{{ purple2 }}",
            "font_style": "italic",
            "font_weight": null
          },
          "emphasis.strong": {
            "color": "{{ yellow2 }}",
            "font_style": null,
            "font_weight": 700
          },
          "enum": {
            "color": "{{ aqua2 }}",
            "font_style": null,
            "font_weight": null
          },
          "function": {
            "color": "{{ blue2 }}",
            "font_style": null,
            "font_weight": null
          },
          "hint": {
            "color": "{{ fg4 }}",
            "font_style": null,
            "font_weight": null
          },
          "keyword": {
            "color": "{{ purple2 }}",
            "font_style": null,
            "font_weight": null
          },
          "label": {
            "color": "{{ orange2 }}",
            "font_style": null,
            "font_weight": null
          },
          "link_text": {
            "color": "{{ red2 }}",
            "font_style": "normal",
            "font_weight": null
          },
          "link_uri": {
            "color": "{{ aqua2 }}",
            "font_style": null,
            "font_weight": null
          },
          "namespace": {
            "color": "{{ yellow2 }}",
            "font_style": null,
            "font_weight": null
          },
          "number": {
            "color": "{{ aqua2 }}",
            "font_style": null,
            "font_weight": null
          },
          "operator": {
            "color": "{{ fg2 }}",
            "font_style": null,
            "font_weight": null
          },
          "predictive": {
            "color": "{{ fg4 }}",
            "font_style": "italic",
            "font_weight": null
          },
          "preproc": {
            "color": "{{ purple2 }}",
            "font_style": null,
            "font_weight": null
          },
          "primary": {
            "color": "{{ fg2 }}",
            "font_style": null,
            "font_weight": null
          },
          "property": {
            "color": "{{ red2 }}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation": {
            "color": "{{ fg2 }}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation.bracket": {
            "color": "{{ fg2 }}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation.delimiter": {
            "color": "{{ fg2 }}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation.list_marker": {
            "color": "{{ red2 }}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation.markup": {
            "color": "{{ red2 }}",
            "font_style": null,
            "font_weight": null
          },
          "punctuation.special": {
            "color": "{{ purple2 }}",
            "font_style": null,
            "font_weight": null
          },
          "selector": {
            "color": "{{ purple2 }}",
            "font_style": null,
            "font_weight": null
          },
          "selector.pseudo": {
            "color": "{{ aqua2 }}",
            "font_style": null,
            "font_weight": null
          },
          "string": {
            "color": "{{ green2 }}",
            "font_style": null,
            "font_weight": null
          },
          "string.escape": {
            "color": "{{ aqua2 }}",
            "font_style": null,
            "font_weight": null
          },
          "string.regex": {
            "color": "{{ aqua2 }}",
            "font_style": null,
            "font_weight": null
          },
          "string.special": {
            "color": "{{ aqua2 }}",
            "font_style": null,
            "font_weight": null
          },
          "string.special.symbol": {
            "color": "{{ green2 }}",
            "font_style": null,
            "font_weight": null
          },
          "tag": {
            "color": "{{ red2 }}",
            "font_style": null,
            "font_weight": null
          },
          "text.literal": {
            "color": "{{ green2 }}",
            "font_style": null,
            "font_weight": null
          },
          "title": {
            "color": "{{ blue2 }}",
            "font_style": null,
            "font_weight": 700
          },
          "type": {
            "color": "{{ yellow2 }}",
            "font_style": null,
            "font_weight": null
          },
          "variable": {
            "color": "{{ red2 }}",
            "font_style": null,
            "font_weight": null
          },
          "variable.special": {
            "color": "{{ orange2 }}",
            "font_style": null,
            "font_weight": null
          },
          "variant": {
            "color": "{{ blue2 }}",
            "font_style": null,
            "font_weight": null
          }
        },
        "tab.active_background": "{{ bg1 }}",
        "tab.inactive_background": "{{ bg0 }}",
        "tab_bar.background": "{{ bg0 }}",
        "terminal.ansi.black": "{{ bg0 }}",
        "terminal.ansi.blue": "{{ blue2 }}",
        "terminal.ansi.bright_black": "{{ fg4 }}",
        "terminal.ansi.bright_blue": "{{ blue4 }}",
        "terminal.ansi.bright_cyan": "{{ aqua4 }}",
        "terminal.ansi.bright_green": "{{ green4 }}",
        "terminal.ansi.bright_magenta": "{{ purple4 }}",
        "terminal.ansi.bright_red": "{{ red4 }}",
        "terminal.ansi.bright_white": "{{ fg0 }}",
        "terminal.ansi.bright_yellow": "{{ yellow4 }}",
        "terminal.ansi.cyan": "{{ aqua2 }}",
        "terminal.ansi.dim_black": "{{ bg2 }}",
        "terminal.ansi.dim_blue": "{{ blue0 }}",
        "terminal.ansi.dim_cyan": "{{ aqua0 }}",
        "terminal.ansi.dim_green": "{{ green0 }}",
        "terminal.ansi.dim_magenta": "{{ purple0 }}",
        "terminal.ansi.dim_red": "{{ red0 }}",
        "terminal.ansi.dim_white": "{{ fg4 }}",
        "terminal.ansi.dim_yellow": "{{ yellow0 }}",
        "terminal.ansi.green": "{{ green2 }}",
        "terminal.ansi.magenta": "{{ purple2 }}",
        "terminal.ansi.red": "{{ red2 }}",
        "terminal.ansi.white": "{{ fg0 }}",
        "terminal.ansi.yellow": "{{ yellow2 }}",
        "terminal.ansi.background": "{{ bg0 }}",
        "terminal.background": "{{ bg0 }}",
        "terminal.bright_foreground": "{{ fg0 }}",
        "terminal.dim_foreground": "{{ fg4 }}",
        "terminal.foreground": "{{ fg1 }}",
        "text": "{{ fg1 }}",
        "text.accent": "{{ primary2 }}",
        "text.disabled": "{{ fg3 }}",
        "text.muted": "{{ fg4 }}",
        "text.placeholder": "{{ fg4 }}80",
        "title_bar.background": "{{ bg0 }}",
        "title_bar.inactive_background": "{{ bg0 }}",
        "toolbar.background": "{{ bg0 }}",
        "unreachable": "{{ fg2 }}80",
        "unreachable.background": "{{ bg2 }}40",
        "unreachable.border": "{{ bg3 }}80",
        "warning": "{{ orange2 }}",
        "warning.background": "{{ bg2 }}80",
        "warning.border": "{{ bg3 }}"
      }
    }
  ]
}
